body {
  background-color: black;
  margin-left: 0px;
  margin-right: 0px;
}
.container {
  background-image: url(pic1.jpg);
  background-size: 100% auto;
  border-radius: 5px;
  margin-top: 10px;
  justify-self: center;
}
.content {
  display: flex;
  justify-content: center;
  color: rgb(255, 254, 254);
  font-family: "Mitr", sans-serif;
  font-size: 50px;
}
header {
  font-family: "Mitr", sans-serif;
  border-radius: 5px;
 
}
a {
  color: white;
  font-size: 20px;
  padding-left: 10px;
  text-decoration: none;
  font-size: 30px;
}
.container2 {
  background-image: url(pic2.jpg);
  background-size: 100% auto;
  border-radius: 5px;
  padding: 10px 10px 10px 5px;
  height: 300px;
  text-align: right;
  float: right;
  width: 100%;
  height: 30%;
}
.content1 {
  font-family: "Mitr", sans-serif;
  color: white;
  font-size: 50px;
}
.content2 {
    font-family: "Mitr", sans-serif;
    color: white;
    font-size: 50px;
  }
.button {
  background-color: rgb(80, 40, 80);
  font-family: "Mitr", sans-serif;
  color: white;
  padding: 15px 25px;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px rgb(48, 15, 70);
}
.con3 {
  background-image: url(pic2.jpg);
  background-size: 100% 100%;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px 0px 10px 20px;
}

.button:hover {background-color: #23014b}

@media only screen and (max-width: 600px) {
    .container {
        background-image: url(pic1.jpg);
        background-size: 100% auto;
        border-radius: 5px;
        margin-top: 10px;
      }
      .content {
        display: flex;
        justify-content: center;
        color: rgb(255, 254, 254);
        font-family: "Mitr", sans-serif;
        font-size: 20px;
      }
      header {
        font-family: "Mitr", sans-serif;
        height: 100%;
        border-radius: 5px;
      }
      a {
        color: white;
        font-size: 20px;
        padding-left: 10px;
        text-decoration: none;
      }
      .container2 {
        background-image: url(pic2.jpg);
        background-size: 100% auto;
        border-radius: 5px;
        padding: 10px 10px 10px 5px;
        height: 300px;
        text-align: right;
        float: right;
        width: 100%;
        height: 200%;
      }
      .content1 {
        font-family: "Mitr", sans-serif;
        color: white;
        font-size: 20px;
      }
      .content2 {
        font-family: "Mitr", sans-serif;
        color: white;
        font-size: 20px;
      }
      .button {
        background-color: rgb(80, 40, 80);
        font-family: "Mitr", sans-serif;
        color: white;
        padding: 15px 25px;
        font-size: 15px;
        text-align: center;
        cursor: pointer;
        outline: none;
        color: #fff;
        border: none;
        border-radius: 15px;
        box-shadow: 0 5px rgb(48, 15, 70);
      }
      .con3 {
        background-image: url(pic2.jpg);
        background-size: 100% 100%;
        border-radius: 5px;
        margin-top: 10px;
        padding: 10px 0px 10px 20px;
        height: 50%;
      }
      
      .button:hover {background-color: #23014b}
  }